.justify {
	&-center {
		justify-content: center !important;
	}

	&-between {
		justify-content: space-between !important;
	}

	&-evenly {
		justify-content: space-evenly !important;
	}

	&-end {
		justify-content: flex-end !important;
	}
}
