.cta-button {
	padding: 1rem 3rem;
	font-size: clamp(1rem, 1vw, 1.2rem);
	font-family: $main-font;
	font-weight: 600;
	display: inline-block;
	transition: all 0.3s ease-in-out;
	text-decoration: none;

	&-container {
		text-align: center;
		padding: 2rem 1rem;

		&.align-left {
			text-align: left;
			padding: 2rem 0;
		}
	}

	&__text {
		margin: 0;
	}

	&:hover {
		text-decoration: none;
	}

	&--gray {
		background-color: $gray;

		p {
			color: #fff;
		}

		&:hover {
			background-color: $dark-gray;
		}
	}

	&--transparent {
		color: $ultra-light-gray;
		border: 2px solid $ultra-light-gray;

		&:hover {
			color: $light-gray;
			border-color: $light-gray;
		}
	}

	@include breakpoint($md) {
		padding: 1rem 4rem;
	}
}
