@import '../abstracts/variables';
@import '../abstracts/mixins';

.project {
    background-color: #fff;

    // Develop
    &--kinesis-rehab .project__jumbotron { background-color: #A5CCE9; }
    &--aag-locksmith .project__jumbotron { background-color: #FEC101; }
    &--radio-universal .project__jumbotron { background-color: #EEE; }
    &--la-serena .project__jumbotron { background-color: #643877; }
    &--milla-83 .project__jumbotron { background-color: #000; }
    &--medestore .project__jumbotron { background-color: #259BCF; }
    &--the-dive-machine .project__jumbotron { background: linear-gradient(0deg, #0F1D2B 0%, #003762 100%); }
    &--dashboard-monalisa .project__jumbotron { background-color: #E9399A; }
    &--cros-cupones .project__jumbotron { background-color: #12224A; }
    &--dashboard-eventos .project__jumbotron { background-color: #314471; }
    
    // Photography
    &--live-out-2015 .project__jumbotron { background-color: #007C27; }
    &--live-out-2016 .project__jumbotron { background-color: #000; }

    &__jumbotron {
        min-height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &__logo {
            width: 25vw;
            max-height: 175px;
        }
    }

    &__section {
        padding: 7.5vh 8vw;
        font-size: 17px;

        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10vh 8vw 5vh;
        }

        &--highlight {
            display: flex;
            flex-wrap: wrap;

            &__quote {
                text-transform: uppercase;
                color: #999;
                font-family: $main-font;
                font-weight: 600;
            }

            &__header {
                font-size: clamp(2.25em, 2.75vw, 3.25em);
                @include afterBar(70px, 3px, #25456B);

                &::after {
                    margin: .25rem 0 1.5rem;
                }
            }
        }

        &__banner {
            width: 100%;
        }

        &__header, &__text {
            &--banner {
                width: clamp(80%, 800px, 95%);
                margin: 1.5rem auto;
            }
        }

        &__header {
            font-size: clamp(1.75em, 2.25vw, 2.25em);
        }

        &__text {
            margin: 1rem auto;
            font-size: clamp(1em, 1.2vw, 1.1em);

            &--banner {
                @include afterBar(70px, 3px, #25456B);
            }
        }
    }

    &__title {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }

    &__tag {
        display: flex;
        align-items: center;

        &-container {
            display: flex;
            align-items: center;
            grid-gap: .75rem;
        }

        &:not(:last-child)::after {
            content: '|';
            display: block;
            margin-left: .75rem;
        }
    }
}